$firstColor: #fff;
$secondColor: #14161F;
$borderColor: #14161F;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}


body {
    position: relative;
    min-height: 100vh;
    background-color: $firstColor;
    color: $secondColor;
    font-family: 'Roboto', sans-serif;

    .font-pacifico {
        font-family: 'Pacifico', cursive;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
    height: 200px;
    padding-top: 200px;

    h1 {
        margin-bottom: 10px;
        font-size: 48px;
        text-align: center;
        font-weight: 200;
    }

    p {
        font-size: 28px;
        font-weight: 200;
        text-align: center;
    }
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

h2.title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
}

.all-transactions {
    width: 1000px;

    h3 {
        margin-bottom: 10px;
        font-size: 28px;
        text-align: center;
    }
}

.transactions-list {
    display: flex;
}

div.transaction.income,
div.transaction.expense {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.income-area,
.expenses-area {
    margin: 10px;
    padding-top: 10px;
    width: 50%;
    border: 1px solid $borderColor;
    border-radius: 30px;
}

.income-area h3,
.income-area .transaction-amount {
    color: rgb(19, 200, 108);
    font-weight: bold;
}

.expenses-area h3,
.expenses-area .transaction-amount {
    color: rgb(255, 104, 104);
    font-weight: bold;
}

.transaction-name {
    font-size: 18px;
}

.delete {
    background: none;
    border: none;
    font-size: 18px;
    color: $secondColor;
    cursor: pointer;
    transition: transform .3s;

    &:hover {
        transform: scale(.8);
    }
}

.options {
    margin: 20px 10px;
    padding: 80px 40px;
    width: 500px;
    border: 1px solid $borderColor;
    border-radius: 30px;
}

.available-money {
    margin-top: -10px;
    text-align: center;
    font-size: 60px;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;

    button {
        margin: 5px;
        padding: 12px 20px;
        color: $secondColor;
        border: 1px solid $borderColor;
        border-radius: 20px;
        background: none;
        transition: color .3s, background-color .3s;
        cursor: pointer;

        &:hover {
            font-family: 'Roboto', sans-serif;
            color: $firstColor;
            background-color: $secondColor;
        }
    }
}

button {
    font-family: 'Roboto', sans-serif;
}

.font {
    padding: 10px;
    border: none;
    background: none;
    width: 100px;
    font-size: 38px;
    cursor: pointer;
    transition: transform .3s;

    &:hover {
        transform: scale(1.3);
    }
}

.style-selection {
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: flex-end;
    right: 30px;
}

button.change {
    padding: 10px;
    border: none;
    background: none;
    width: 40px;
    font-size: 35px;
    cursor: pointer;
}

button.light {
    color: black;
    background: none;
    border: none;
}

button.dark {
    color: white;
    background: none;
    border: none;
}

.add-transaction-panel {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: linear-gradient(#159957, #155799);
    width: 100%;
    height: 100%;

    h2.title {
        margin-bottom: 0;
    }

    label {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 5px;
        font-size: 26px;
    }

    small {
        margin-bottom: 15px;
        text-align: center;
        font-style: italic;
        color: #fff;
    }

    input,
    select {
        width: 800px;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 18px;
    }

    option {
        font-size: 18px;
    }

    button {
        margin: 0 30px;
        padding: 15px 40px;
        font-size: 18px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        background: none;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: rgb(25, 27, 51);
        }


    }

    .panel-buttons {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 640px) {
    header p {
        font-size: 18px;
    }

    p.transaction-name {
        font-size: 14px;
        text-align: center;

    }

    p.transaction-amount {
        font-size: 14px;
    }

    div.income-area h3 {
        font-size: 20px;
    }

    div.expenses-area h3 {
        font-size: 20px;
    }

    .options {
        padding: 40px 20px;
    }

    p.available-money {
        font-size: 40px;
    }
}

@media only screen and (max-width: 800px) {

    .add-transaction-panel input,
    .add-transaction-panel select,
    .add-transaction-panel option {
        width: 80%;
    }
}

@media all and (min-width:1000px) {
    .add-transaction-panel .panel-buttons {
        max-width: 25%;
    }

}
